# Configuración de Variables de Entorno
OPENAI_API_KEY=tu_api_key_openai
OPENAI_API_BASE=https://api.openai.com/v1

JIRA_BASE_URL=https://jira.tu-organizacion.com/
JIRA_PREFIX=PDNEU
JIRA_USER=tu_usuario@email.com
JIRA_PASSWORD=tu_password_o_api_token
HTTP_PROXY=
HTTPS_PROXY=
